extends base

block content
    if phone
        .row
            .col-4
                h2 
                    | #{phone.manf}
                    br
                    | #{phone.model}
                br
                h4 IMEI : #{phone.imei}
                div
                    span#lastSeen 
                    br
                    span#coords 
                    br
                    spam#battery 
                    br
                    spam#phoneNumber 
                br
                .loader
                button.sendMsg(data=phone.imei dataid=phone._id request='location' )
                        |Locate
                br
                button.sendMsg(data=phone.imei dataid=phone._id request='ring')
                        |Ring
                br
                button.sendMsg(data=phone.imei dataid=phone._id request='camera')
                        |Camera
                br
                button.sendMsg(data=phone.imei dataid=phone._id request='sms')
                        |Send sms with location details
                br
                button.sendMsg(data=phone.imei dataid=phone._id request='notification')
                        |Send notification message
                br
            .col    
                #map
   
    else
        h1 PHONE DOESNT EXIST


      
  
